name: Concurrent Test

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ main ]

env:
  GO_VERSION: 1.18
  HARBOR_VERSION: 2.4.1
  NYDUS_VERSION: 2.1.6

jobs:
  concurrent_test_same:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Golang
      uses: actions/setup-go@v4
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Build Accel
      run: |
        make

    - name: Install Harbor
      run: |
        wget https://github.com/goharbor/harbor/releases/download/v${{ env.HARBOR_VERSION }}/harbor-offline-installer-v${{ env.HARBOR_VERSION }}.tgz
        tar xzvf harbor-offline-installer-v${{ env.HARBOR_VERSION }}.tgz
        cp ./script/integration/harbor.yml harbor/harbor.yml
        cd harbor
        sudo ./install.sh

    - name: Prepare Test Image
      run: |
        sudo docker pull wordpress
        sudo docker login -u admin -p Harbor12345 localhost
        sudo docker tag wordpress localhost/library/wordpress
        sudo docker push localhost/library/wordpress

    - name: Concurrent Test
      run: |
        wget https://github.com/dragonflyoss/image-service/releases/download/v${{ env.NYDUS_VERSION }}/nydus-static-v${{ env.NYDUS_VERSION }}-linux-amd64.tgz
        sudo tar xzvf nydus-static-v${{ env.NYDUS_VERSION }}-linux-amd64.tgz --wildcards --strip-components=1 -C /usr/bin/ nydus-static/*
        ./script/integration/concurrent/test-same.sh wordpress

  concurrent_test_diff:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Golang
      uses: actions/setup-go@v4
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Build Accel
      run: |
        make

    - name: Install Harbor
      run: |
        wget https://github.com/goharbor/harbor/releases/download/v${{ env.HARBOR_VERSION }}/harbor-offline-installer-v${{ env.HARBOR_VERSION }}.tgz
        tar xzvf harbor-offline-installer-v${{ env.HARBOR_VERSION }}.tgz
        cp ./script/integration/harbor.yml harbor/harbor.yml
        cd harbor
        sudo ./install.sh

    - name: Prepare Test Image
      run: |
        images=("nginx" "alpine" "busybox")
        for image in ${images[@]}; do
          sudo docker pull $image
          sudo docker tag $image localhost/library/$image
        done
        sudo docker login -u admin -p Harbor12345 localhost
        for image in ${images[@]}; do
          sudo docker push localhost/library/$image
        done

    - name: Concurrent Test
      run: |
        wget https://github.com/dragonflyoss/image-service/releases/download/v${{ env.NYDUS_VERSION }}/nydus-static-v${{ env.NYDUS_VERSION }}-linux-amd64.tgz
        sudo tar xzvf nydus-static-v${{ env.NYDUS_VERSION }}-linux-amd64.tgz --wildcards --strip-components=1 -C /usr/bin/ nydus-static/*
        ./script/integration/concurrent/test-diff.sh
